#footer {
    font-size: 0.8em;
    color: #E9E9E9;
    display: grid;
    justify-items: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0.1em solid #4EB1BA;
}
